{
    "semi": true,
    "singleQuote": true,
    "trailingComma": "es5",
    "tabWidth": 4,
    "endOfLine": "auto",
    "printWidth": 100,
    "bracketSpacing": true,
  "useTabs": false,
  "bracketSameLine": true,
  "arrowParens": "always"
}
